/* Desktop styles */
.shopTitle {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
}

.products {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
}
html, body{
    background: #E3E3D8;
    font-family: sans-serif;
}

.like {
  font-size: 1.5rem;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .shopTitle {
        font-size: 32px;
    }

    .products {
        grid-template-columns: 1fr 1fr;
    }

    
}

  .wrapper{
    font-family: sans-serif;
    width: 300px;
    height: 500px;
    background: white;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
    &:hover{
      transform: scale(1);
      box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
    }
    
    .container{
      width:100%;
      height:100%;
      .top{
        height: 80%;
        width:100%;
        
    
      }
      .bottom{
        width: 100%;
        height: 20%;
        transition: transform 0.5s;
        &.clicked{
          transform: translateX(-50%);
        }
        h1{
            margin:0;
            padding:0;
        }
        p{
            margin:0;
            padding:0;
        }
        .left{
          height:100%;
          width: 50%;
          background: #f4f4f4;
          position:relative;
          float:left;
          .details{
            padding: 20px;
            float: left;
            width: calc(70% - 40px);
          }
          .buy{
            float:right;
            width: calc(30% - 2px);
            height:100%;
            background: #f1f1f1;
            transition: background 0.5s;
            border-left:solid thin rgba(0,0,0,0.1);
            i{
              font-size:30px;
              padding:30px;
              color: #254053;
              transition: transform 0.5s;
            }
            &:hover{
              background: #A6CDDE;
            }
            &:hover i{
              transform: translateY(5px);
              color:#00394B;
            }
          }
        }
        .right{
          width: 50%;
          background: #A6CDDE;
          color: white;
          float:right;
          height:200%;
          overflow: hidden;
          .details{
            padding: 20px;
            float: right;
            width: calc(70% - 40px);
          }
          .done{
            width: calc(30% - 2px);
            float:left;
            transition: transform 0.5s;
            border-right:solid thin rgba(255,255,255,0.3);
            height:50%;
            i{
              font-size:30px;
              padding:30px;
              color: white;
            }
          }
          .remove{
            width: calc(30% - 1px);
            clear: both;
            border-right:solid thin rgba(255,255,255,0.3);
            height:50%;
            background: #BC3B59;
            transition: transform 0.5s, background 0.5s;
            &:hover{
              background: #9B2847;
            }
            &:hover i{
              transform: translateY(5px);
            }
            i{
              transition: transform 0.5s;
              font-size:30px;
              padding:30px;
              color: white;
            }
          }
          &:hover{
            .remove, .done{
              transform: translateY(-100%);
            }
          }
        }
      }
    }
    
    .inside{
      z-index:9;
      background: #92879B;
      width:140px;
      height:140px;
      position: absolute;
      top: -70px;
      right: -70px;
      border-radius: 0px 0px 200px 200px;
      transition: all 0.5s, border-radius 2s, top 1s;
      overflow: hidden;
      .icon{
        position:absolute;
        right:85px;
        top:85px;
        color:white;
        opacity: 1;
      }
      &:hover{
        width:100%;
        right:0;
        top:0;
        border-radius: 0;
        height:80%;
        .icon{
          opacity: 0;
          right:15px;
          top:15px;
        }
        .contents{
          opacity: 1;
          transform: scale(1);
          transform: translateY(0);
        }
      }
      .contents{
        padding: 5%;
        opacity: 0;
        transform: scale(0.5);
        transform: translateY(-200%);
        transition: opacity 0.2s, transform 0.8s;
        table{
          text-align:left;
          width:100%;
        }
        h1, p, table{
          color: white;
        }
        p{
          font-size:13px;
        }
      }
    }
  }
@media screen and (max-width: 480px) {
    .shopTitle {
        font-size: 24px;
    }

    .products {
        grid-template-columns: 1fr;
    }

    
}
.product-collection{
  padding: 3.2rem 0;
}
.product-collection-wrapper{
  padding: 3.2rem 0;
}
.product-col-left{
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../../../images/fashion-img-1.jpg") center/cover no-repeat;
}
.product-col-r-top{
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../../../images/fashion-img-2.jpg") center/cover no-repeat;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50vh;
  padding: 2rem 1.5rem 3.2rem;
  margin: 5px;
}
.product-col-r-bottom > div:first-child{
  background: #eaa001;
}
.product-col-r-bottom > div:last-child{
  background: #0090ff;
}
.product-col-content{
  text-align: center;
  color: white;
}
.product-collection .text-light{
  opacity: 1;
  font-size: 0.8;
  font-weight: 400;
  line-height: 1.7;
}
.btn-dark{
  background: black;
  color: white;
  outline: 0;
  border-radius: 25px;
  padding: 0.7rem 1rem;
  border: 0;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.6s ease;
  font-size: 1rem;
  font-family: inherit;
}
.btn-dark:hover{
  background: var(--carribean-green);
}







/* Media Queries */
@media screen and (min-width: 992px){
  .product-items{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  .product-col-r-bottom{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px){
  .product-items{
      grid-template-columns: repeat(3, 1fr);
  }
  .product{
      margin-right: 1rem;
      margin-left: 1rem;
  }
  .products .text-light{
      width: 50%;
  }
}

@media screen and (min-width: 1336px){
  .product-items{
      grid-template-columns: repeat(4, 1fr);
  }
  .product-collection-wrapper{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  .flex{
      height: 60vh;
  }
  .product-col-left{
      height: 121.5vh;
  }
}


/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 90px 0 75px 0;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box h1 {
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #002c3e;
    line-height: 70px;
}

.slider_section .detail-box h1 span {
  color: #f7444e;
}

.slider_section .detail-box p {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 1.5rem;
}

.slider_section .detail-box a {
    display: inline-block;
    padding: 12px 45px;
    background-color: #f7444e;
    border: 1px solid #f7444e;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 10px;
    font-weight: 700;
}

.slider_section .detail-box a:hover {
  background-color: transparent;
  color: #f7444e;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  margin-top: 45px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #f7444e;
}

.slider_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slider_bg_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top right;
     object-position: top right;
}
.slider_section{
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../../../images//bg.jpg") center/cover no-repeat;
}